.topApp {
  text-align: center;
  background-color: #23252C;
}

.infoHead--one {
  font-size: 25px;
  padding-top: 21px;
  margin-bottom: 0px;
  color: white;
}

.website {
  color: white;
  font-size: 10.24px;
  line-height: 0%;
}

.LinkedButton {
  display: flex;
  padding-left: 35px;
  float: left;
}

.innerAbout {
  font-size: 16px;
  display: flex;
  padding-top: 33px;
  padding-left: 36px;
}

.innerP {
  font-size: 10.24px;
  padding-left: 36px;
  padding-right: 34px
}

.AboutMe {
  color: white;
}

.Socials {
  background-color: #161619;
  Width: 317px;
  position: relative;
  left: 312px;
}

.Interests {
  font-size: 16px;
  display: flex;
  padding-top: 20px;
  padding-left: 36px;
}

.interestP {
  font-size: 10.24px;
  padding-left: 36px;
  padding-right: 34px
}


.OtherButton {
  display: inline-block;
}

.afterImage {
  text-align: center;
  background-color: #1A1B21;
  Width: 317px;
  Height: 399px;
  position: relative;
  left: 312px;
}



.infoTwo {
  color: #F3BF99;
  /* padding-top: 6px; */
}


.mainImage {
  width: 317px;
  height: 317px;
  padding-top: 44px;
  /* padding-left: 116px;
  padding-right: 117px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}